/* Master Styles */
h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}
h2, h3 {
  color: #444;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}
body {
  margin: 2em;
}
body, input[text], button {
  color: #888;
  font-family: Cambria, Georgia;
}
/* . . . */
/* everywhere else */
* {
  font-family: Arial, Helvetica, sans-serif;
}

$test: #fffaaa;
$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import "~bootstrap-sass/assets/stylesheets/bootstrap";
@import "/app/app.component";
@import "/app/quests/quests.component";
@import "/app/dashboard/dashboard.component";
@import "/app/hero-detail/hero-detail.component";
@import "/app/hero-search/hero-search.component";
@import "/app/heroes/heroes.component";
